---
export interface Props {
    desktopGrid: string;
    mobileGrid: string;
}

const { desktopGrid, mobileGrid } = Astro.props as Props;
---

<div class={`grid w-full ${mobileGrid} items-stretch justify-items-stretch sm:gap-8 gap-4 ${desktopGrid}`}>
    <slot />
</div>