---
export interface Props {
    desktopGrid: string;
    gap: string,
    mobileGrid: string;
}

const { desktopGrid, gap, mobileGrid } = Astro.props as Props;
---

<div class={`grid w-full ${mobileGrid} items-stretch justify-items-stretch ${gap} ${desktopGrid}`}>
    <slot />
</div>