---
export interface Props {
    icon: string;
    site: string;
}

const { icon, site } = Astro.props as Props;
---

<div
    class="flex h-fit w-full flex-col items-center justify-between gap-2 bg-light-2 p-4 dark:bg-dark-2 sm:flex-row"
    id="header"
>
    <a
        class="flex w-fit place-items-center gap-2"
        href="/"
    >
        {
            icon && (
                <img
                    alt="Profile picture"
                    class="h-8 w-8 select-none rounded-full sm:h-10 sm:w-10"
                    src={icon}
                />
            )
        }
        <span class="mb-1 truncate text-xl font-bold sm:text-2xl">{site}</span>
    </a>
    <nav class="group flex w-full flex-row justify-around sm:w-fit sm:gap-8 sm:px-4">
        <slot />
    </nav>
</div>
